<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="cn.edu.neu.mapper.CateMapper">
   <select id="findAll" resultType="Category">
		select cate_id cateId,cate_name cateName,cate_pic catePic from m_category
	</select>
    <select id="findAllCate" resultType="Category">
        select cate_id cateId,cate_name cateName,cate_pic catePic from m_category
    </select>
	<insert id="saveCate" parameterType="Category">
	    insert into m_category values(#{cateId},#{cateName},#{catePic})
	</insert>
	<select id="findCateById" parameterType="int" resultType="Category">
	    select cate_id cateId,cate_name cateName,cate_pic catePic from m_category where cate_id=#{cateId}
	</select>
	<update id="updateCate" parameterType="Category">
	    update m_category set cate_name=#{cateName},cate_pic=#{catePic} where cate_id=#{cateId}
	</update>
	<select id="findCoffeeIdByCateId" parameterType="int" resultType="Integer">
	    select coffee_id from m_coffee where cate_id=#{cateId}
	</select>
	<delete id="delCoffeePic" >
	    delete from m_pic where coffee_id in 
	    <foreach collection="list" item="item" open="(" close=")" separator=",">
	        #{item}
	    </foreach>
	</delete>
	<delete id="delCoffee" >
	    delete from m_coffee where cate_id=#{cateId}
	</delete>
	<delete id="delCate" >
	    delete from m_category where cate_id=#{cateId}
	</delete>
</mapper>